body{
	background-color: #878383;
}
table {
    border-collapse: collapse;
    margin: 25px auto;
    height: 540px;
    width: 500px;
    border-bottom: 12px solid #878383;
    border-left: 12px solid #878383;
}
td{
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
}





.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7{
	background-color: #fff;
}

.row1{
	height: 48px; 
}
.row2{
	height: 128px;

}
.row2 td:nth-child(1) {
	 width: 48px;

}
.row3{
	height: 120px;
}

.row3 td:nth-child(2) {
		 width: 77px;
	 }
 .row3 td:nth-child(3) {
			 width: 76px;
		 }	
.row4,
.row5 {
			height: 60px; 
		 }	 	 
 .row4 td:first-child {
			 width: 60px;
		}
 .row4 td:nth-child(2) {
			 width: 60px;
		 }

.row6,
.row7{
	height: 45px;
}

.yelow{
	background-color: #fff56b
}
.redd{
	background-color: #ff593d;
}

.bleck{
	background-color: #272c2b;
}
.blu{
	background-color: #0e4e8d;
}
